build/*
*.classpath
*.*~
*.project
*.class
*.directory
bin/**
.gradle/**
.settings/**
.idea/**
out/**
*.iml
*.ipr
*.iws
target/**
target-eclipse/**
.classpath
.settings
/target
/dependencies
logs/*
logs/**
